.negrito {
	font-weight: bolder;
}
.alinhamentoEsquerda {
	text-align: left;
}
.alinhamentoDireita {
	text-align: right;
}
.alinhamentoCentro {
	text-align: center;
}
.tabelaRelatorio {
	font-size: 13px;
}
.positivo {
	color: blue;
}
.negativo {
	color: red;
}
.sublinhado {
	text-decoration: underline;
}
.largura1PX {
	width: 1px;
}
